In [2]:
import pandas as pd
import numpy as np
import seaborn as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\ATOnile\Downloads\googleplaystore.csv\googleplaystore.csv")
df

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,1-Aug-18,1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,8-Jun-18,Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,20-Jun-18,1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,25-Jul-17,1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,6-Jul-18,1,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,20-Jan-17,1,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,19-Jan-15,Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,25-Jul-18,Varies with device,Varies with device

In [6]:
df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,7-Jan-18,1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,15-Jan-18,2.0.0,4.0.3 and up

In [7]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [8]:
df['Rating'].ffill(inplace = True)

In [10]:
df['Type'].ffill(inplace = True)

In [12]:
df['Content Rating'].ffill(inplace = True)

In [14]:
df['Android Ver'].bfill(inplace = True)

In [16]:
mode = df['Current Ver'].mode()[0]

In [18]:
df['Current Ver'].fillna(mode, inplace = True)

In [20]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

# Total Number of Apps

In [22]:
 total_app = df['App'].nunique()

In [24]:
df['App'].value_counts()

App
ROBLOX                                                9
CBS Sports App - Scores, News, Stats & Watch Live     8
ESPN                                                  7
Duolingo: Learn Languages Free                        7
Candy Crush Saga                                      7
                                                     ..
Meet U - Get Friends for Snapchat, Kik & Instagram    1
U-Report                                              1
U of I Community Credit Union                         1
Waiting For U Launcher Theme                          1
iHoroscope - 2018 Daily Horoscope & Astrology         1
Name: count, Length: 9660, dtype: int64

# Average Rating:

In [26]:
df['Rating'].mean()

4.192943455400793

# Total Downloads:

In [185]:
df.dtypes

App                       object
Category                  object
Rating                   float64
Reviews                   object
Size                      object
Installs                  object
Type                      object
Price                      int32
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
size_MB                  float64
review                   float64
year                     float64
dtype: object

In [183]:
df['Installs'] = df['Installs'].astype(str)

In [187]:
df['Installs'] = df['Installs'].str.replace('+', '', regex = False).str.replace(',', '',regex = False)
df['Installs']

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: object

In [177]:
df['Installs'] = pd.to_numeric(df['Installs'],errors='coerce')
df['Installs']

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: int32

In [34]:
df['Installs'].sum()

167633433487.0

# Apps by Category:

In [36]:
app_grouped = df.groupby('Category')['App'].count()
app_grouped

Category
1.9                       1
ART_AND_DESIGN           65
AUTO_AND_VEHICLES        85
BEAUTY                   53
BOOKS_AND_REFERENCE     231
BUSINESS                460
COMICS                   60
COMMUNICATION           387
DATING                  234
EDUCATION               156
ENTERTAINMENT           149
EVENTS                   64
FAMILY                 1972
FINANCE                 366
FOOD_AND_DRINK          127
GAME                   1144
HEALTH_AND_FITNESS      341
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
LIFESTYLE               382
MAPS_AND_NAVIGATION     137
MEDICAL                 463
NEWS_AND_MAGAZINES      283
PARENTING                60
PERSONALIZATION         392
PHOTOGRAPHY             335
PRODUCTIVITY            424
SHOPPING                260
SOCIAL                  295
SPORTS                  384
TOOLS                   843
TRAVEL_AND_LOCAL        258
VIDEO_PLAYERS           175
WEATHER                  82
Name: App, dtype: int64

# Average Size of Apps:

In [38]:
def convert_size(size):
    if 'M' in size:
        return float(size.replace('M','',).strip())
    elif 'K' in size:
        return float(size.replace('K','').strip()/1024)
    else :
        return None

In [40]:
df['size_MB'] = df['Size'].apply(convert_size)
df['size_MB']

0        19.0
1        14.0
2         8.7
3        25.0
4         2.8
         ...
10836    53.0
10837     3.6
10838     9.5
10839     NaN
10840    19.0
Name: size_MB, Length: 10841, dtype: float64

In [42]:
df['size_MB'].ffill(inplace = True)

# Developer Response Rate:

In [46]:
 df['review'] = pd.to_numeric(df['Reviews'], errors = 'coerce')
 count = df['review'].count()
 count

10840

In [48]:
 developer_response = (count /total_app)*100
 developer_response

112.21532091097308

# Growth Rate of Apps:

In [50]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          1
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
size_MB           0
review            1
dtype: int64

In [58]:
df['Last Updated'] = pd.to_datetime(df['Last Updated'], errors='coerce')
df['Last Updated']

0       2018-01-07
1       2018-01-15
2       2018-08-01
3       2018-06-08
4       2018-06-20
           ...
10836   2017-07-25
10837   2018-07-06
10838   2017-01-20
10839   2015-01-19
10840   2018-07-25
Name: Last Updated, Length: 10841, dtype: datetime64[ns]

In [64]:
df['year'] = df['Last Updated'].dt.year
df['year']

0        2018.0
1        2018.0
2        2018.0
3        2018.0
4        2018.0
          ...
10836    2017.0
10837    2018.0
10838    2017.0
10839    2015.0
10840    2018.0
Name: year, Length: 10841, dtype: float64

In [68]:
start_year = df['year'].min()
start_year

2010.0

In [74]:
new_apps_per_year = df.groupby('year')['App'].nunique()
new_apps_per_year

year
2010.0       1
2011.0      15
2012.0      26
2013.0     108
2014.0     203
2015.0     451
2016.0     779
2017.0    1796
2018.0    6287
Name: App, dtype: int64

In [89]:
app_at_start = new_apps_per_year.cumsum().shift(fill_value=0)
app_at_start

year
2010.0       0
2011.0       1
2012.0      16
2013.0      42
2014.0     150
2015.0     353
2016.0     804
2017.0    1583
2018.0    3379
Name: App, dtype: int64

In [93]:
growth_rate = (new_apps_per_year / total_apps_at_start.replace(0, 1)) * 100
growth_rate

year
2010.0     100.000000
2011.0    1500.000000
2012.0     162.500000
2013.0     257.142857
2014.0     135.333333
2015.0     127.762040
2016.0      96.890547
2017.0     113.455464
2018.0     186.060965
Name: App, dtype: float64

In [95]:
growth_rate_df = pd.DataFrame({
    'Year': new_apps_per_year.index,
    'New Apps': new_apps_per_year.values,
    'Total Apps at Start': total_apps_at_start.values,
    'Growth Rate (%)': growth_rate.values
})
growth_rate_df

     Year  New Apps  Total Apps at Start  Growth Rate (%)
0  2010.0         1                    0       100.000000
1  2011.0        15                    1      1500.000000
2  2012.0        26                   16       162.500000
3  2013.0       108                   42       257.142857
4  2014.0       203                  150       135.333333
5  2015.0       451                  353       127.762040
6  2016.0       779                  804        96.890547
7  2017.0      1796                 1583       113.455464
8  2018.0      6287                 3379       186.060965

# Average Price of Paid Apps:

In [130]:

df['Price'] = pd.to_numeric(df['Price'], errors = 'coerce')
df['Price'].interpolate( inplace=True)
df['Price'] = df['Price'].astype(int)
df['Price']

0        0
1        0
2        0
3        0
4        0
        ..
10836    0
10837    0
10838    0
10839    0
10840    0
Name: Price, Length: 10841, dtype: int32

In [136]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          1
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      1
Current Ver       0
Android Ver       0
size_MB           0
review            1
year              1
dtype: int64

In [201]:
df.dtypes

App                       object
Category                  object
Rating                   float64
Reviews                   object
Size                      object
Installs                  object
Type                      object
Price                      int32
Content Rating            object
Genres                    object
Last Updated      datetime64[ns]
Current Ver               object
Android Ver               object
size_MB                  float64
review                   float64
year                     float64
dtype: object

In [132]:
df['Price'].mean()

0.0

# User Engagement:

In [205]:
df['Rating'] = pd.to_numeric(df['Rating'], errors='coerce')
rating = df['Rating'].mean()
rating
df['Installs'] = pd.to_numeric(df['Installs'], errors='coerce')

In [207]:
User_Engagement = rating*df['Installs']
User_Engagement

0        4.192943e+04
1        2.096472e+06
2        2.096472e+07
3        2.096472e+08
4        4.192943e+05
             ...
10836    2.096472e+04
10837    4.192943e+02
10838    4.192943e+03
10839    4.192943e+03
10840    4.192943e+07
Name: Installs, Length: 10841, dtype: float64

In [211]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver', 'size_MB', 'review', 'year'],
      dtype='object')